.cnnAlertsNavButton {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #000;
	font-weight: bold;
	padding: 3px;
}

/*.cnnAlertsNavButton {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	background-color: #fff;
	color: #333;
	font-weight: bold;
	padding: 3px;
	margin: 1px;
	border-top: solid 1px #333;
	border-right: solid 1px #333;
	border-bottom: solid 2px #333;
	border-left: solid 1px #333;
	text-align:middle;
} */

.cnnAlertsKey
{ font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; color: #CC0000;}

.cnnAlertsHead
{ font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 20px; color: #465463;}

.cnnAlertsHeadBlk
{ font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 20px; color: #000;}

.cnnAlertsInterface
{ font-family: Verdana; font-weight: bold; font-size: 10px; color: #000000;
padding-top: 2px;
  padding-left: 3px;
  padding-bottom: 2px; 
  padding-right: 3px;
}

.cnnAlertsTableHead
{ font-family: Verdana; font-weight: bold; font-size: 10px; color: #000000;
padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px; 
  padding-right: 6px;
}

.cnnAlertsInterfaceNoPad
{ font-family: Verdana; font-weight: bold; font-size: 10px; color: #000000;
}

.cnn3pxTB6pxLRpad {  
  padding-top: 3px;
  padding-left: 6px;
  padding-bottom: 3px; 
  padding-right: 6px;}
  
  .cnn4pxTBpad {  
  padding-top: 4px;
  padding-bottom: 4px;}
  
 .cnnAlertsRed
 { color: #CC0000;}

/* email services specific */

.cnnMemberServicesParentBox {
  border: 1px solid #ccc; 
  padding: 6px;
  background-color:#eee;
}
.cnnMemberServicesStepParentBox {
  border: 1px solid #ccc; 
  padding: 2px;
  background-color:#eee;
}
.cnnMemberServicesChildBox {
  padding: 6px;
  background-color:#ddd;
}
.cnnMemberServicesChildBoxWht {
  padding: 6px;
  background-color:#fff;
}
.cnnMemberServicesChildBoxWht1pxBorder {
  padding: 6px;
  background-color:#fff;
  border: 1px solid #ccc; 
}
.cnnMemberServicesChildBoxOff {
  border: 1px solid #ccc; 
  padding: 6px;
  background-color:#f5f5f5;
}
.cnnMemberServicesButtonGreen {
padding: 6px;
background-color:#060;
}

.cnnMemberServicesButtonGrey {
padding: 6px;
background-color:#ccc;
}
.cnnMemberServiceslPad23px {
padding-left:23px;
}

.cnnMemberServicesRedHead {
font-family: arial, sans-serif;
font-weight:bold;
font-size:14px;
color:#c00;
text-transform: uppercase;
      }
.cnnMemberServicesBlackHead {
font-family: arial, sans-serif;
font-weight:bold;
font-size:14px;
color:#000;
      }
.cnnMemberServicesLandingBorderTop {
padding-top:8px;
padding-bottom:4px;
border-top:1px solid #ccc;
      }
.cnnMemberServicesBorderBottom {
padding-top:7px;
padding-bottom:10px;
border-bottom:1px solid #ccc;
      }
.cnnMemberServicesBorderTopBottom {
padding-top:5px;
padding-bottom:5px;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
      }
.cnnMemberServices10PxRPad {
padding-right:10px;
       }
.cnnMemberServices10PxLPad {
padding-left:10px;
       }
.cnnMemberServices20PxRPad {
padding-right:20px;
       }
.cnnMemberServices8pxLR6pxTBpad {
padding-left:8px;
padding-right:8px;
padding-bottom:6px;
}
.cnnMemberServices6pxLRBpad {
padding-left:6px;
padding-right:6px;
padding-bottom:6px;
}
.cnnMemberServices10PxRLPad {
padding-right:10px;
padding-left:10px;
       }
.cnnMemberServicesGreyTHeader {
padding: 4px;
background-color:#ccc;
}

.cnnMemberServicesGreyTHeader6pxPad {
padding: 6px;
background-color:#ccc;
}

.cnnMemberServicesHeaderBox {
background-image: url(../../../../../../i.a.cnn.net/cnn/.element/img/1.0/alerts/header/line.gif);
background-repeat: repeat-x;
}

.cnnMemberServicesHeaderBoxLinks {
padding-top:6px;
padding-left: 6px;
padding-right: 6px;
}

.cnnMemberServicesInterfaceLink { font: bold 10px Verdana, Arial, sans-serif;
 }
