{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehedi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/main.css'%}">
  

</head>
<body>

    <!-- <div class="container"> -->


        
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index'%}">Mehedi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
              </li>
        
            </ul>
            <form class="d-flex" method="get" action="/search" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                 </form>
          </div>
        </div>
      </nav>


      <!-- navbar -->


      <!-- main section  -->

      <section class="hero py-4">
          <div class="container">
              <div class="row">
                  <div class="col-sm-9 shodow content">
                   <img src="{{object.post_pic.url}}" class="img-fluid" alt="">
                   <div class="row py-4">
                       <div class="col-sm-2">
                           <img src="{% static 'images/1.jpg'%}" class="img-fluid rounded-circle" alt="">
                       </div>
                       <div class="col-sm-10 px-4">
                           <h1>{{object.title}}</h1>

                       </div>
                       
                   </div>
                   
                   <div class="hero-post-badges px-4">
                    <a href=""> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{object.date_posted| date:"F d Y"}},</a>
                    <a href="">{{object.category}}</a>
                </div>

                <div class="p-content px-4 pt-4">
                    <p>{{object.content}}</p>
                </div>

                  </div>
                  <div class="col-sm-3">

                    <!-- <aside class="col-md-4"> -->

                        <div class="row text-center social-link">
                            <div class="col-sm-4">
                                <a href="" class="social-link py-4 w-100 "></a>
                                <i class="fa fa-facebook-official" arial-hidden="True"></i>
                            </div>
        
                            <div class="col-sm-4 secondary-color">
                                <a href="" class="social-link py-4 w-100  "></a>
                                <i class="fa fa-twitter" arial-hidden="True"></i>
                            </div>
        
                            <div class="col-sm-4">
                                <a href="" class="social-link py-4 w-100 "></a>
                                <i class="fa fa-youtube" arial-hidden="True"></i>
                            </div>
                        </div>
                            <h4 class="aside-heading mt-4 px-3">Author</h4>
                            <article class="row mb-3 pt-3">
                                <div class="col-sm-3">
                                    <img src="{% static 'images/1.jpg'%}" class="img-fluid rounded-circle" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <h5>Mehedi Hasan</h5>
                                    <p style="color: aliceblue;"> I'm Mehedi Hasan,I am 21 years old Python Django Full-Stack Web Developer
                                        💻 with a strong educational background in Software Engineering.
                                         I am doing freelance work 🚀 in Fiverr and Frelancer , 
                                         but I do work remotely for international clients.</p>
                                    <div class="social-links ">
                                        <a href=""><i class="fa fa-facebook-official" arial-hidden="True"></i></a>
                                        <a href=""> <i class="fa fa-twitter" arial-hidden="True"></i></a>
                                        <a href=""><i class="fa fa-youtube" arial-hidden="True"></i></a>
                                    </div>     
                                </div>
        
                            </article>
        
                            <div class="categories mt-4 text-center">
                                <h2>Categories</h2>
                                <div class="badge w-100">
                                    <h4 class="badge-link"><a href="{% url 'programing'%}">Programing</a></h4>
                                    <h4 class="badge-link"><a href="{% url 'tech'%}">Technology</a></h4>
                                    <h4 class="badge-link"><a href="{% url 'international'%}">International</a></h4>
                                    <h4 class="badge-link"><a href="{% url 'it'%}">IT</a></h4>
        
                                </div>
        
                            </div>
                        </div>
              </div>
        
                    <!-- </aside> -->
                    

                  </div>
              </div>
          </div>

      </section>

      <!-- Hero section  -->

      


      <!-- Footer section -->

      <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="" class="footer-logo">Mehedi</a>
                    <p>I'm Mehedi Hasan,I am 21 years old Python
                         Django Full-Stack Web Developer 💻 with 
                         a strong educational background in Software
                          Engineering. I am doing freelance work 🚀 in Fiverr and Frelancer
                           , but I do work remotely for international clients.</p>

                </div>
                <div class="col-md-4">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="">Contact Us</a></li>
                       
                    </ul>
                    
                    
                    
              </div>
              <div class="col-md-4">

                  <form class="d-flex" method="get" action="/search" >
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                       </form>

                  <p>I'm Mehedi Hasan,I am 21 years old Python
                      Django Full-Stack Web Developer 💻 with 
                      a strong educational background in Software
                       Engineering.</p>
                 
                    
              </div>
              <div class="w-100  text-center">
                  <h5>Made by <a href="">Mehedi Hasan</a></h5>
              </div>
            </div>
        </div>
    </footer>



      

      <!-- Footer section -->



    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>